<mat-card class="example-card" [@fadeInOut]="cardState" matBadge="✔" [matBadgeHidden]="todo.completed">
  <mat-card-header>
    <mat-card-title>{{idx+1}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p [ngClass]="{'complete':!todo.completed}">{{todo.title}}</p>
  </mat-card-content>
  <mat-card-actions class="card-handle">
    <button mat-stroked-button (click)="setTodoComplete()">COMPLETE</button>
    <button (click)="deleteTodo()" mat-icon-button>
      <mat-icon color="primary">delete</mat-icon>
    </button>

  </mat-card-actions>
</mat-card>