.example-stretched-tabs {
  max-width: 800px;
}

a {
  text-decoration: none;
  color: inherit; 
  font-size: 32px; 
}
ul{
  height: 50px;
}
ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
li{
  align-items: center;
}

li {
  margin-right: 10px;

}

a:hover {
  text-decoration: underline;
  background-color: #f0f0f0;
}